@tailwind base;
@tailwind components;
@tailwind utilities;

*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #030B18;
    padding:  0 1rem;
}